body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section{
    margin-bottom: 30px;
}

/* navbar area start */

.nav a{
    margin-left: 25px;
    text-decoration: none;
    color: orange;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

.nav{
    margin-left: 28%;
    padding:20px 0;
}

.nav-bg{
    background-color: #222222;
    background-size: cover;
    
}

/* hero area start */

.title-text{
    font-size: 50px;
    margin: 0;
}

.text-highlight{
    color: orange;
}
.text-dim-color{
    color: dimgray;
    text-align: justify;
}
.hero-wrap{
    display: flex;
    height: 100vh;
}

.half-width{
    margin: auto;
    width: 38%;
    margin-left: 5%;
    padding: 5%;
}
/* person1 image */
#person1{
    width: 100%;
}
/* person1 image */
#person2{
    width: 79%;
}

.button-area{
    margin-top: 35px;
}

.click-button{
    text-decoration: none;
     color: #ffff;
     border: 1px solid transparent;
     font-size: 15px;
     padding: 15px 40px;
     border-radius: 26px;
     background-image: linear-gradient(90deg, #ffa500, #ec3629);
     
}

/* about area start */

.about-area{
    background-image: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;

}

.about-wrap{
    display: flex;
    height: 100vh;
}

.big-text{
    font-size: 30px;
}

/* recipies area start */

.recipies-text{
    text-align: center;
    padding: 35px 350px;
}

.recipies-iteam{
    display: flex;
    padding: 48px;
}
.one-third-width{
    width: 25%;
    padding: 20px 13px;
    margin-left: 5%;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 3px 2px 20px gray;
}
.one-third-width img{
    width: 100%;
}

/* submitt button start */

#offer-text{
    text-align: center;
    color: dimgray;
    font-size: 35px;
}

.input-form{
    margin-left: 408px;
    padding: 12px 115px;
    border: 2px solid orange;
    border-radius: 8px;
}

.mail-wrap{
    margin: 40px 20px;
    padding: 70px 0px;
}

/* footer area start*/
.footer-area{
    text-align: center;
    background-color: black;
    background-size: cover;
    padding: 30px 150px;
}